@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  margin: 15px;
  width: 80vw;
  max-width: 800px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  transform: scale(0.8);
  transition: transform 0.3s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  gap: 10px;
  justify-content: center;
}

[data-control="slide"] li a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fb5;
  text-indent: -999px;
  overflow: hidden;
}

[data-control="slide"] li a:hover,
[data-control="slide"] li.active a {
  background-color: #e54;
}
